min-release-age=3
# Owned packages bypass the delay; their third-party dependencies do not.
min-release-age-exclude[]=@photostructure/*
min-release-age-exclude[]=batch-cluster
min-release-age-exclude[]=exiftool-vendored
min-release-age-exclude[]=exiftool-vendored.exe
min-release-age-exclude[]=exiftool-vendored.pl
min-release-age-exclude[]=mkver
