if chatWidget
  button#chat(onclick="setup()" title="Click to chat with support\n\n(we don't enable this automatically to increase your privacy)")

  script.
    "use strict";
    function setup() {
      const chat = document.getElementById("chat")
      chat.classList.add("busy");
      const t = (window.driftt = window.drift = window.driftt || []);
      t.SNIPPET_VERSION = "0.3.1";
      if (!t.init) {
        if (t.invoked)
          return void ( window.console && console.error && console.error("Drift snippet included twice.") );
        t.invoked = true;
        t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ];
        t.factory = function (e) {
          return function () {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        };
        t.methods.forEach(function (e) {
          t[e] = t.factory(e);
        });
        const n = Math.ceil(new Date() / 3e5) * 3e5;
        const o = document.createElement("script");
        o.type = "text/javascript";
        o.async = true;
        o.crossorigin = "anonymous";
        o.src = "https://js.driftt.com/include/" + n + "/c7iynv3ahdsf.js";
        const i = document.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(o, i);
      }
      setTimeout(() => chat.remove(), 3000);
    }
