doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title PhotoStructure Setup
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/app/splash.css", nonce=nonce)
  body.animate
    main.draggable.reveal
      #bg-clip
        #bg
      img#logo(src="/images/splash.svg")
      footer.no-draggable
        #msg
        #version.right
  script(src="/app/splash.js", nonce=nonce)
